# ----------------------
# Miscellaneous & System
# ----------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ----------------------
# Editors & IDEs
# ----------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# ----------------------
# Flutter / Dart
# ----------------------
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# ----------------------
# Android
# ----------------------
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/.gradle
**/android/local.properties
**/android/key.properties
**/android/*.jks
**/android/*.keystore

# SECRETO: Configuración de Firebase Android
android/app/google-services.json

# ----------------------
# iOS / macOS
# ----------------------
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/.symlinks/
**/ios/Podfile.lock
**/ios/Profile/Prov*
**/ios/Base.lproj/Main.storyboardc

# SECRETO: Configuración de Firebase iOS/macOS
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# ----------------------
# macOS specific
# ----------------------
**/macos/Flutter/ephemeral/

# ----------------------
# Web
# ----------------------
lib/generated_plugin_registrant.dart

# ----------------------
# Firebase & Secrets (General)
# ----------------------
# SECRETO: Configuración generada por FlutterFire CLI
lib/firebase_options.dart

# Variables de entorno
.env
.env.*
!.env.example