name: compartimos_gastos
description: "Compartimos Gastos App"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.32.0
  firebase_auth: ^4.16.0 # Autentificacion con FireBase
  shared_preferences: ^2.2.2 # Guardar datos localmente

  cupertino_icons: ^1.0.8
  cloud_firestore: ^4.17.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - lib/assets/images/logo/